:root { 
--blue_gray_50:#e8ecef; 
--blue_A400:#377dff; 
--light_blue_600:#179bd7; 
--gray_50:#fbfcfc; 
--light_blue_900:#00579f; 
--green_500:#45b26a; 
--gray_900_19:#11111119; 
--black_900_1e:#0e0e0e1e; 
--light_blue_800:#016fd0; 
--teal_400:#38cb89; 
--blue_gray_200_01:#b0b4c3; 
--amber_A700:#ffab00; 
--black_900:#000000; 
--yellow_800:#faa61a; 
--blue_gray_800:#3e3e59; 
--deep_orange_500:#ff5630; 
--black_900_09:#00000009; 
--blue_gray_900:#343839; 
--red_A700:#ed0006; 
--gray_900_02:#141718; 
--gray_600:#6c7174; 
--gray_900_03:#232627; 
--gray_700:#5f5f5f; 
--blue_gray_200:#b0b7c3; 
--gray_900_04:#22262e; 
--gray_400:#cacaca; 
--gray_900_05:#171d28; 
--gray_600_01:#807e7e; 
--orange_A700:#ff5e00; 
--gray_800:#353945; 
--gray_900:#131416; 
--gray_900_01:#111111; 
--amber_700:#f9a000; 
--gray_200:#eaeaea; 
--blue_gray_800_01:#313b4b; 
--gray_100:#f4f4f4; 
--gray_100_03:#f5f5f5; 
--gray_600_7f:#6c71747f; 
--white_A700_00:#ffffff00; 
--gray_100_02:#f3f5f7; 
--black_900_33:#0e0e0e33; 
--gray_100_01:#f3f5f6; 
--white_A700_01:#fdfdfd; 
--white_A700:#ffffff; 
--indigo_800:#253b80; 
--gray_600_3f:#6c71743f; 
}